.container{
  margin-bottom: 100px;
}

.redBackground{
  background-color: #FCEAE8;
  border-radius: 10px;
}
.carousel-item{
  padding: 20px 40px;
}
.price{
  color: deeppink;
}
.buyBtn{
     background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
     color: #fff;
     border: none;
     border-radius: 8px;
     padding: 9px 25px;
}
.cat1,.cat2,.cat3{
  padding: 10px 30px;
  border-radius: 10px;

}
.cat1{
  background-color: #FFA500;
  
}

.cat2 {
  background-color: aqua;
}
.cat3 {
  background-color: blueviolet;
}

.categories {
  color: white;
}

.categories img{
  width: 100px;
}

.card{
  border: none;
  box-shadow: 5px 5px 10px lightgray;
  margin-right: 30px;
}

#subscribe{
 height: 300px; 
}
footer{
  text-align: center;
}